$base-color : #F54748;
$color-white : rgb(226,226,226);
$main-font :  'Josefin Sans', sans-serif;;
$font-regular : 400;
$font-medium : 500;
$font-semi-bold : 600;
$font-size-important : 1.1em;
$font-size-secondary : 1em;
