
$base-color : #F54748;
$base-color-dark : #F21718;
$base-color-darker : #CB0B0C;
$color-white : rgb(226,226,226);
$base-font : 'Josefin Sans', sans-serif;
$font-regular : '400';
$font-medium : '500';
$font-semi-bold : '600';
$color-gray : #F8F8F7;
$color-black : #161211;
$color-dark-gray : #dfdfdf;