<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROKU - Restaurant Reservation Apps</title>
    <link rel="icon" href="../public/images/icon.png">
</head>
    <body>
        <a href="#explore-section" tabindex="1" class="skip-link">To the content</a>
        <nav id="nav-container">
        </nav>
        <section id="hero-section">
            <hero-container 
                title="Didnt Get the Table for the Date?"
                description = "Book Restaurant Easier with ROKU!"
                button-caption = "Download Now">
            </hero-container>
        </section>

        <section id="explore-section">
            <h4 tabindex="10">Explore Restaurant</h4>
            <main class="cards" >
                <article class="card" >
                  <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" tabindex="11" alt=" Bring Your Phone Cafe Photo">
                  <div class="text">
                    <h5 tabindex="12">Bring Your Phone Cafe</h5>
                    <p tabindex="13">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet..</p>
                    <div class="flex-around">
                        <p tabindex="14">Rating : 4.6</p>
                        <p tabindex="15">City : Medan</p>
                    </div>
                    <button tabindex="16">Book Now</button>
                    
                  </div>
                </article>
                <article class="card">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" tabindex="17" alt="Pangsit Express Photo">
                    <div class="text">
                      <h5 tabindex="18">Pangsit Express</h5>
                      <p tabindex="19">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                      <div class="flex-around">
                        <p tabindex="20">Rating : 4.8</p>
                        <p tabindex="21">City : Ternate</p>
                    </div>
                      <button tabindex="22">Book Now</button>
                    </div>
                  </article>
                <article class="card">
                  <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" tabindex="23" alt="Duck Duck Photo">
                  <div class="text">
                    <h5 tabindex="24">Ducky Duck</h5>
                    <p tabindex="25">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                    <div class="flex-around">
                        <p tabindex="26">Rating : 4.7</p>
                    <p tabindex="27">City    : Malang</p>
                    </div>
                    <button tabindex="28">Book Now</button>
                  </div>
                </article>
            
                
               
              </main>
        </section>
        <footer>
            <h6 tabindex="29">copyright © 2021 - ROKU Apps </h6>
        </footer>
    </body>

</html>